<nav class="navbar sticky-top navbar-expand-sm bg-body-tertiary mb-3"

     data-bs-theme="dark">
  <div class="container-fluid">
    <div class="justify-content-start position-relative">
      <a class="navbar-brand me-1 " [routerLink]="'recipes'">Recipe Book

      </a>
      @if (isAuthenticated){
        <a class="position-absolute
        top-20 start-100 translate-middle badge
        text-bg-secondary rounded-pill bg-success text-decoration-none"
           style="font-size: xx-small">
          Authenticated
        </a>
      } @else {
        <a class="position-absolute
        top-20 start-100 translate-middle badge
        text-bg-secondary rounded-pill bg-danger text-decoration-none"
           style="font-size: xx-small"
           [routerLink]="'login'">
          Unauthenticated
        </a>
      }

      <span class="badge bg-danger "></span>

    </div>

    <button class="navbar-toggler"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-lg-0">
        <li class="nav-item">
        @if(isAuthenticated){
            <a class="nav-link"
               routerLink="recipes"
               [routerLinkActive]="'active'"
               (click)="isMenuCollapsed = true"
            >Recipes</a>
        } @else {
            <a class="nav-link"
               routerLink="auth"
               [routerLinkActive]="'auth'"
               (click)="isMenuCollapsed = true"
            >Auth</a>
        }
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="shopping-list"
             [routerLinkActive]="'active'"
             (click)="isMenuCollapsed = true"
          >Shopping List</a>
        </li>
      </ul>

      <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
        <a  class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown" role="button">
          Manage
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu">
          <a ngbDropdownItem  (click)="onPostData()">Save Data</a>
          <a ngbDropdownItem (click)="onGetData()">Fetch Data</a>
        </div>
      </div>
    </div>
  </div>
</nav>

