@if(recipe){

<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.image}}" alt="" class="rounded img-fluid" style="max-width: 450px;">
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
    <div class="dropdown" appDropdown #r="appDropdown" >
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
        Manage</button>
      <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}" >
        <li><a class="dropdown-item"
               style="cursor: pointer"
               (click)="onAddToShoppingList()"
        >To Shopping List</a></li>
        <li><a class="dropdown-item"
               [routerLink]="['edit']"
        >Edit Recipe</a></li>
        <li><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row mt-2">
  <div class="col-xs-12" appDropdown>
    Ingrediente(s):
    <ul class="list-group mt-1">
      @for (ingredient of recipe.ingredients; track ingredient.name) {
        <li class="list-group-item rounded">
          {{ingredient.name}} - {{ingredient.amount}}
        </li>
      }
    </ul>
  </div>
</div>
} @else {
  <p>[Select a recipe]</p>
}
