<a href="#"
   class="list-group-item list-group-item-action me-auto p-0" [ngClass]="{'active':this.recipeService.selectedRecipe==recipe}"
   style=" max-height: 5rem "
>
  <div class="card-body p-0 shadow-sm">
    <div class="d-flex p-0">
      <div class="row ms-0 me-auto"  style="align-content: flex-start;">
        <p class="fw-bold mb-0 ms-2 crop-text-2" style="font-size: 1.1rem; height: 1.4rem">{{ recipe.name }}</p>
        <span class="me-1 mb-0 ps-1 pe-1 crop-text-1">{{ recipe.description }}.</span>
      </div>
      <img
        src="{{recipe.image}}"
        alt=""
        style="width: 4.5rem; height: 4.5rem;"
        class="rounded mb-auto mt-auto p-1"
      />
    </div>

  </div>
</a>

